<p id="notice"><%= notice %></p>

<div class="row">
<div class="col-md-8">
  <h1>Equipo</h1>
</div>
<div class="col-md-4 text-right">
  <%= link_to 'Nuevo Integrante', new_team_path,:"data-turbolinks" => false, class: "btn btn-primary" %>

</div>
  
</div>

<table class="table">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Cargo</th>
      <th>Descripcion</th>

      <th>Imagen</th>
      
      <th>Linkedin</th>
      <th>Twitter</th>
      
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @teams.each do |team| %>
      <tr>
        <td><%= team.name %></td>
        <td><%= team.position %></td>
        <td><%= team.description %></td>
     
        <td><%= image_tag team.image_url, style:"width:100px;" if team.image_url  %></td>
     
        <td class="text-center"><%= link_to  team.linkedin do %>
          <i class="fa fa-linkedin"></i>
          <%end%>
        </td>
        <td class="text-center"><%= link_to  team.twitter do %> <i class="fa fa-twitter"></i><%end%></td>
        
        <td><%= link_to 'Ver', team %></td>
        <td><%= link_to 'Editar', edit_team_path(team) %></td>
        <td><%= link_to 'Eliminar', team, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
