<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong><br>
  <%= @team.name %>
</p>
<p>
  <strong>Cargo:</strong><br>
  <%= @team.position %>
</p>
<p>
  <strong class="strong1">Descripción:</strong><br>
  <%= @team.description %>
</p>

<p>
  <strongclass="strong1">Imagen:</strong><br>
  <%= image_tag @team.image_url, style:"width:100px" if @team.image_url %>
</p>


<p>
  <strong class="strong1">Linkedin:</strong><br>
  <%= @team.linkedin %>
</p>

<p>
  <strong class="strong1">Twitter:</strong><br>
  <%= @team.twitter %>
</p>



<p>
  <strong class="strong1">Experience:</strong><br>
  <%== @team.experience %>
</p>


<style>
.strong1
{
  color:#428bca;
  font-size: 22px;
}
  
</style>