<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong><br>
  <%= @team.name %>
</p>
<p>
  <strong>Cargo:</strong><br>
  <%= @team.position %>
</p>
<p>
  <strong>Descripción:</strong><br>
  <%= @team.description %>
</p>

<p>
  <strong>Imagen:</strong><br>
  <%= image_tag @team.image_url, style:"width:100px" if @team.image_url %>
</p>


<p>
  <strong>Linkedin:</strong><br>
  <%= @team.linkedin %>
</p>

<p>
  <strong>Twitter:</strong><br>
  <%= @team.twitter %>
</p>



<p>
  <strong>Experience:</strong><br>
  <%== @team.experience %>
</p>


<style>
strong
{
  color:#428bca;
  font-size: 22px;
}
  
</style>