
  

<p id="notice"><%= notice %></p>

<div class="row">
<div class="col-md-8">
  <h1>Servicios</h1>
</div>
<div class="col-md-4 text-right">
  <%= link_to 'Nuevo Servicio', new_service_path,:"data-turbolinks" => false, class: "btn btn-primary" %>

</div>
  
</div>



<table class="table">
  <thead>
    <tr>
      <th style="width:10%">Nombre</th>
      <th style="width:50%">Descripcion</th>
     <th style="width:10%">imagen</th>
      <th style="width:5%"></th>
      <th style="width:5%"></th>
      <th style="width:5%"></th>

    </tr>
  </thead>

  <tbody>
    <% @services.each do |service| %>
      <tr>
        <td><%= service.name %></td>
        <td ><%== service.description %></td>
          <td><%= image_tag service.service_images.where(order: 1).first.imagen_url , style: "width:100px;"%></td>
       
       

        <td><%= link_to 'Ver', service %></td>
        <td><%= link_to 'Editar', edit_service_path(service) %></td>
        <td><%= link_to 'Eliminar', service, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

