<br>
<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong><br>
  <%== @service.name %>
</p>
<p>
  <strong>Imagenes:</strong><br>
  <% @service.service_images.each do  |img|%>  
  <%=image_tag img.imagen_url, style:"width:200px;" if img.image_url%>
  <%end%>
</p>

<p>
  <strong>Descripción:</strong><br>
  <%== @service.description %>
</p>

<p>
  <strong>Sub servicios:</strong><br>
  <%== @service.sub_services %>
</p>

<style>
strong
{
	color:#428bca;
	font-size: 22px;
}
	
</style>