<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong><br>
  <%= @notice.name %>
</p>

<p>
  <strong>Categoria:</strong><br>
  <%= @notice.category %>
</p>


<p>
  <strong>Imagen:</strong><br>
  <%= image_tag  @notice.image_url , style:"width:200px;" if @notice.image_url %>
</p>



<p>
  <strong>Descripcion:</strong><br>
  <%== @notice.description %>
</p>


<style>
strong
{
  color:#428bca;
  font-size: 22px;
}
  
</style>