<%= form_with(model: claim, local: true) do |form| %>
  <% if claim.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(claim.errors.count, "error") %> prohibited this claim from being saved:</h2>

      <ul>
      <% claim.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :claim_name %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, id: :claim_email %>
  </div>

  <div class="field">
    <%= form.label :company %>
    <%= form.text_field :company, id: :claim_company %>
  </div>

  <div class="field">
    <%= form.label :typep %>
    <%= form.text_field :typep, id: :claim_type %>
  </div>

  <div class="field">
    <%= form.label :message %>
    <%= form.text_area :message, id: :claim_message %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
