<div id="preload" class="preload">
    <div class="flat"></div>
    <div class="square"><img width="100px" src="../../images/simbolo.png" alt=""></div>
    <div class="square-2"><img src="../../images/simbolo.png" alt=""></div>
    <div class="square-3"><img src="../../images/simbolo.png" alt=""></div>
    <div class="square-4"><img src="../../images/simbolo.png" alt=""></div>
</div>
<!-- /END PRELOAD -->

<!-- HEADER 1 -->
<header id="header" class="header head1">
    <div class="searchbar searchbar-light">
        <div class="container">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-search"></i></span>
                <input type="text" name="search" value="" placeholder="Search" />
                <span class="input-group-btn"><button type="button" class="btn-close"></button></span>
            </div><!-- /input-group -->
        </div><!-- /container -->
    </div><!-- /searchbar -->

    <div class="main-header main-header-1 bd-b-alpha">
        <div class="container">
            <!-- LOGO -->
            <div class="logo">
                <a href="#"><img src="../../img/logo1.png" alt="logo" /></a>
            </div><!-- /#logo -->
            <!-- END / LOGO -->

            <!-- MOBILE MENU -->
            <div class="mobile-nav-menu" data-menu-number="1">
                <span class="icon">&nbsp;</span>
            </div><!-- /mobile-nav-menu -->
            <!-- /END MOBILE MENU -->

            <!-- SEARCH BUTTON -->
            <div class="search-btn"><span class="fa fa-search"></span></div>
            <!-- END / SEARCH BUTTON -->

            <!-- NAVIGATION -->
            <nav class="navigation nav1" data-menu-type="1199">
                <ul class="nav text-uppercase">
                    <li>
                       <%= link_to "Inicio", root_path,  data: { turbolinks: false }%>
                    </li>
      
                    <li ><%= link_to "Nosotros", nosotros_path,  data: { turbolinks: false }%>
                    </li>
                    <li><%= link_to "Servicios", servicios_path,  data: { turbolinks: false }%></li>

                  
                    <li><%=link_to "Blog", noticias_path("todas"),  data: { turbolinks: false }%></li>
                    <li><%=link_to "Contactenos", contactenos_path,  data: { turbolinks: false }%></li>
                    <li><%=link_to "pqrs", pqrf_path,  data: { turbolinks: false }%></li>
                                        <li>
                        <%= link_to "Trabaja con nosotros", trabajemos_path,  data: { turbolinks: false }%>
                       
                    </li>

                </ul><!-- /nav -->
            </nav>
            <!-- END / NAVIGATION -->
        </div><!-- /container -->
    </div><!-- /main-header -->
</header><!-- /header -->
<!-- END / HEADER 1 -->

<div id="page-wrap">
    <!-- HOME MEDIA -->
    <section id="home-media" class="section pt-0 pb-0" data-home-media="760">
        <div class="tp-banner-container">
            <div class="tp-banner" >
                <ul>
                                    <li data-transition="random" data-slotamount="7" data-masterspeed="500" data-thumb="../../img/slider/thumb/thumb-1.jpg"  data-saveperformance="on" data-title="Slider 1">
                        <!-- MAIN IMAGE -->
                        <img src="../../img/slider/dummy.png"  alt="slidebg1" data-lazyload="../../img/slider/nueva.png" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
                        <!-- LAYERS -->

                        <!-- LAYER NR. 1 -->
                        <div class="tp-caption grey_heavy_72 lfl tp-resizeme rs-parallaxlevel-0 tp-headline"
                            data-x="center"
                            data-y="300"
                            data-speed="500"
                            data-start="1350"
                            data-easing="Power3.easeInOut"
                            data-splitin="lines"
                            data-splitout="none"
                            data-elementdelay="0.1"
                            data-endelementdelay="0.1"
                            style="font-family: 'Rajdhani', sans-serif;z-index: 99; max-width: auto; max-height: auto; white-space: nowrap;font-size: 80px;">Ingeniería y proyectos
                        </div>

                        <!-- LAYER NR. 2 -->
                        <div class="tp-caption grey_heavy_72 lfr tp-resizeme rs-parallaxlevel-0 tp-headline-3"
                            data-x="center"
                            data-y="370"
                            data-speed="500"
                            data-start="1650"
                            data-easing="Power3.easeInOut"
                            data-splitin="lines"
                            data-splitout="none"
                            data-elementdelay="0.1"
                            data-endelementdelay="0.1"
                            style="font-family: 'Rajdhani', sans-serif;z-index: 99; font-style: normal;max-width: auto; max-height: auto; white-space: nowrap;font-size: 50px;color:#0ab0ff;font-style: italic;">Procesos dinamicos que suman mucho mas
                        </div>
                        <!-- LAYER NR. 3 -->
                        <div class="tp-caption grey_heavy_72 fade tp-resizeme rs-parallaxlevel-0"
                            data-x="center"
                            data-y="440"
                            data-speed="500"
                            data-start="2550"
                            data-easing="Power3.easeInOut"
                            data-splitin="none"
                            data-splitout="none"
                            data-elementdelay="0.1"
                            data-endelementdelay="0.1"
                            style="z-index: 99; max-width: auto; max-height: auto; white-space: nowrap;">                        <%= link_to "Quiénes Somos", nosotros_path ,class: "btn btn-primary",  data: { turbolinks: false }%>
                        </div>
 </li>


                    <li data-transition="random" data-slotamount="7" data-masterspeed="500" data-thumb="../../images/construccion.jpg"  data-saveperformance="on"  data-title="Slider 3">
                        <!-- MAIN IMAGE -->
                        <img src="../../img/slider/dummy.png"  alt="slidebg1" data-lazyload="../../images/construccion.jpg" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
                        <!-- LAYERS -->

                        <!-- LAYER NR. 1 -->
                        <div class="tp-caption grey_heavy_72 sfb tp-resizeme rs-parallaxlevel-0 tp-headline-3"
                            data-x="center"
                            data-y="280"
                            data-speed="500"
                            data-start="1050"
                            data-easing="Power3.easeInOut"
                            data-splitin="lines"
                            data-splitout="none"
                            data-elementdelay="0.1"
                            data-endelementdelay="0.1"
                            style="z-index: 99; max-width: auto; max-height: auto; white-space: nowrap;">
                        </div>

                        <!-- LAYER NR. 2 -->
                        <div class="tp-caption grey_heavy_72 sfb tp-resizeme rs-parallaxlevel-0 tp-headline-2"
                            data-x="center"
                            data-y="350"
                            data-speed="500"
                            data-start="1350"
                            data-easing="Power3.easeInOut"
                            data-splitin="lines"
                            data-splitout="none"
                            data-elementdelay="0.1"
                            data-endelementdelay="0.1"
                            style="font-family: 'Rajdhani', sans-serif;z-index: 99; max-width: auto; max-height: auto; white-space: nowrap;font-size:90px">Ingeniería Electrica
                        </div>

                        <!-- LAYER NR. 3 -->
                        <div class="tp-caption grey_heavy_72 sfl tp-resizeme rs-parallaxlevel-0"
                            data-x="center"
                            data-y="430"
                            data-hoffset="-83"
                            data-speed="500"
                            data-start="2050"
                            data-easing="Power3.easeInOut"
                            data-splitin="none"
                            data-splitout="none"
                            data-elementdelay="0.1"
                            data-endelementdelay="0.1"
                            style="z-index: 99; max-width: auto; max-height: auto; white-space: nowrap;"><%= link_to "Quiénes Somos", nosotros_path ,class: "btn btn-primary",  data: { turbolinks: false }%>
                        </div>

                        <!-- LAYER NR. 4 -->
                        <div class="tp-caption grey_heavy_72 sfr tp-resizeme rs-parallaxlevel-0"
                            data-x="center"
                            data-y="430"
                            data-hoffset="83"
                            data-speed="500"
                            data-start="2050"
                            data-easing="Power3.easeInOut"
                            data-splitin="none"
                            data-splitout="none"
                            data-elementdelay="0.1"
                            data-endelementdelay="0.1"
                            style="z-index: 99; max-width: auto; max-height: auto; white-space: nowrap;"><%= link_to "Ver mas", servicio_path(1) ,class: "btn btn-transparent",  data: { turbolinks: false }%>
                        </div>
                    </li>
                                    <li data-transition="random" data-slotamount="7" data-masterspeed="500" data-thumb="../../images/construccion.jpg"  data-saveperformance="on"  data-title="Slider 3">
                        <!-- MAIN IMAGE -->
                        <img src="../../img/slider/instrumentacion.jpg"  alt="slidebg1" data-lazyload="../../img/slider/instrumentacion.jpg" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
                        <!-- LAYERS -->

                        <!-- LAYER NR. 1 -->
                        <div class="tp-caption grey_heavy_72 sfb tp-resizeme rs-parallaxlevel-0 tp-headline-3"
                            data-x="center"
                            data-y="280"
                            data-speed="500"
                            data-start="1050"
                            data-easing="Power3.easeInOut"
                            data-splitin="lines"
                            data-splitout="none"
                            data-elementdelay="0.1"
                            data-endelementdelay="0.1"
                            style="z-index: 99; max-width: auto; max-height: auto; white-space: nowrap;">
                        </div>

                        <!-- LAYER NR. 2 -->
                        <div class="tp-caption grey_heavy_72 sfb tp-resizeme rs-parallaxlevel-0 tp-headline-2"
                            data-x="center"
                            data-y="300"
                            data-speed="500"
                            data-start="1350"
                            data-easing="Power3.easeInOut"
                            data-splitin="lines"
                            data-splitout="none"
                            data-elementdelay="0.1"
                            data-endelementdelay="0.1"
                            style="font-family: 'Rajdhani', sans-serif;z-index: 99; max-width: auto; max-height: auto; white-space: nowrap;font-size: 70px;">Instrumentacion industrial y Control
                        </div>

                        <!-- LAYER NR. 3 -->
                        <div class="tp-caption grey_heavy_72 sfl tp-resizeme rs-parallaxlevel-0"
                            data-x="center"
                            data-y="380"
                            data-hoffset="-83"
                            data-speed="500"
                            data-start="2050"
                            data-easing="Power3.easeInOut"
                            data-splitin="none"
                            data-splitout="none"
                            data-elementdelay="0.1"
                            data-endelementdelay="0.1"
                            style="z-index: 99; max-width: auto; max-height: auto; white-space: nowrap;"><%= link_to "Quiénes Somos", nosotros_path ,class: "btn btn-primary",  data: { turbolinks: false }%>
                        </div>

                        <!-- LAYER NR. 4 -->
                        <div class="tp-caption grey_heavy_72 sfr tp-resizeme rs-parallaxlevel-0"
                            data-x="center"
                            data-y="380"
                            data-hoffset="83"
                            data-speed="500"
                            data-start="2050"
                            data-easing="Power3.easeInOut"
                            data-splitin="none"
                            data-splitout="none"
                            data-elementdelay="0.1"
                            data-endelementdelay="0.1"
                            style="z-index: 99; max-width: auto; max-height: auto; white-space: nowrap;"><%= link_to "Ver mas", servicio_path(2) ,class: "btn btn-transparent",  data: { turbolinks: false }%>
                        </div>
                    </li>


                                        <li data-transition="random" data-slotamount="7" data-masterspeed="500" data-thumb="../../images/construccion.jpg"  data-saveperformance="on"  data-title="Slider 3">
                        <!-- MAIN IMAGE -->
                        <img src="../../img/slider/dummy.png"  alt="slidebg1" data-lazyload="../../img/slider/teleco.jpg" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
                        <!-- LAYERS -->

                        <!-- LAYER NR. 1 -->
                        <div class="tp-caption grey_heavy_72 sfb tp-resizeme rs-parallaxlevel-0 tp-headline-3"
                            data-x="center"
                            data-y="280"
                            data-speed="500"
                            data-start="1050"
                            data-easing="Power3.easeInOut"
                            data-splitin="lines"
                            data-splitout="none"
                            data-elementdelay="0.1"
                            data-endelementdelay="0.1"
                            style="z-index: 99; max-width: auto; max-height: auto; white-space: nowrap;">
                        </div>

                        <!-- LAYER NR. 2 -->
                        <div class="tp-caption grey_heavy_72 sfb tp-resizeme rs-parallaxlevel-0 tp-headline-2"
                            data-x="center"
                            data-y="350"
                            data-speed="500"
                            data-start="1350"
                            data-easing="Power3.easeInOut"
                            data-splitin="lines"
                            data-splitout="none"
                            data-elementdelay="0.1"
                            data-endelementdelay="0.1"
                            style="font-family: 'Rajdhani', sans-serif;z-index: 99; max-width: auto; max-height: auto; white-space: nowrap;font-size:90px">Telecomunicaciones
                        </div>

                        <!-- LAYER NR. 3 -->
                        <div class="tp-caption grey_heavy_72 sfl tp-resizeme rs-parallaxlevel-0"
                            data-x="center"
                            data-y="430"
                            data-hoffset="-83"
                            data-speed="500"
                            data-start="2050"
                            data-easing="Power3.easeInOut"
                            data-splitin="none"
                            data-splitout="none"
                            data-elementdelay="0.1"
                            data-endelementdelay="0.1"
                            style="font-family: 'Rajdhani', sans-serif;z-index: 99; max-width: auto; max-height: auto; white-space: nowrap;"><%= link_to "Quiénes Somos", nosotros_path ,class: "btn btn-primary",  data: { turbolinks: false }%>
                        </div>

                        <!-- LAYER NR. 4 -->
                        <div class="tp-caption grey_heavy_72 sfr tp-resizeme rs-parallaxlevel-0"
                            data-x="center"
                            data-y="430"
                            data-hoffset="83"
                            data-speed="500"
                            data-start="2050"
                            data-easing="Power3.easeInOut"
                            data-splitin="none"
                            data-splitout="none"
                            data-elementdelay="0.1"
                            data-endelementdelay="0.1"
                            style="z-index: 99; max-width: auto; max-height: auto; white-space: nowrap;"><%= link_to "Ver mas", servicio_path(3) ,class: "btn btn-transparent",  data: { turbolinks: false }%>
                        </div>
                    </li>



                                        <li data-transition="random" data-slotamount="7" data-masterspeed="500" data-thumb="../../images/construccion.jpg"  data-saveperformance="on"  data-title="Slider 3">
                        <!-- MAIN IMAGE -->
                        <img src="../../img/slider/dummy.png"  alt="slidebg1" data-lazyload="../../img/slider/auditoria.png" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
                        <!-- LAYERS -->

                        <!-- LAYER NR. 1 -->
                        <div class="tp-caption grey_heavy_72 sfb tp-resizeme rs-parallaxlevel-0 tp-headline-3"
                            data-x="center"
                            data-y="280"
                            data-speed="500"
                            data-start="1050"
                            data-easing="Power3.easeInOut"
                            data-splitin="lines"
                            data-splitout="none"
                            data-elementdelay="0.1"
                            data-endelementdelay="0.1"
                            style="z-index: 99; max-width: auto; max-height: auto; white-space: nowrap;">
                        </div>

                        <!-- LAYER NR. 2 -->
                        <div class="tp-caption grey_heavy_72 sfb tp-resizeme rs-parallaxlevel-0 tp-headline-2"
                            data-x="center"
                            data-y="350"
                            data-speed="500"
                            data-start="1350"
                            data-easing="Power3.easeInOut"
                            data-splitin="lines"
                            data-splitout="none"
                            data-elementdelay="0.1"
                            data-endelementdelay="0.1"
                            style="font-family: 'Rajdhani', sans-serif;z-index: 99; max-width: auto; max-height: auto; white-space: nowrap;font-size: 80px;">CONSULTORÍA E INTERVENTORÍA 
                        </div>

                        <!-- LAYER NR. 3 -->
                        <div class="tp-caption grey_heavy_72 sfl tp-resizeme rs-parallaxlevel-0"
                            data-x="center"
                            data-y="430"
                            data-hoffset="-83"
                            data-speed="500"
                            data-start="2050"
                            data-easing="Power3.easeInOut"
                            data-splitin="none"
                            data-splitout="none"
                            data-elementdelay="0.1"
                            data-endelementdelay="0.1"
                            style="z-index: 99; max-width: auto; max-height: auto; white-space: nowrap;"><%= link_to "Quiénes Somos", nosotros_path ,class: "btn btn-primary",  data: { turbolinks: false }%>
                        </div>

                        <!-- LAYER NR. 4 -->
                        <div class="tp-caption grey_heavy_72 sfr tp-resizeme rs-parallaxlevel-0"
                            data-x="center"
                            data-y="430"
                            data-hoffset="83"
                            data-speed="500"
                            data-start="2050"
                            data-easing="Power3.easeInOut"
                            data-splitin="none"
                            data-splitout="none"
                            data-elementdelay="0.1"
                            data-endelementdelay="0.1"
                            style="z-index: 99; max-width: auto; max-height: auto; white-space: nowrap;"><%= link_to "Ver mas", servicio_path(4) ,class: "btn btn-transparent",  data: { turbolinks: false }%>
                        </div>
                    </li>
                    <!-- SLIDE 3 -->

                </ul>
                <div class="tp-bannertimer"></div>
            </div><!-- /tp-banner -->
        </div><!-- /tp-banner-container -->
    </section>
    <!-- END / HOME MEDIA -->
    <section class="section bg-primary pt-20 pb-20">
        <div class="container">
            <div class="row">
                <div class="col-md-9 col-sm-12 col-xs-12">
                    <h3 class="play-font fsi mb-0 text-center text-left-md" style="    font-weight: bold;line-height: 2.3em;color:white">Nosotros somos mas que constructores - nosotros somos partners</h3>
                </div><!-- /col -->

                <div class="col-md-3 col-sm-12 col-xs-12 text-center">
          
                    <%=link_to "Solicitar Cotización", contactenos_path, class: "btn btn-black"%>
                </div><!-- /col -->
            </div><!-- /row -->
        </div><!-- /container -->
    </section>
    <!-- ABOUT -->
    <section class="section bg-white bd-b pt-70 pb-70">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-sm-12 col-xs-12">
                    <h2 class="section-header big">Nuestra Empresa</h2>
                    <p style = "text-align:justify">

                     Ingeniería y Proyectos Sigma S.A.S. es una empresa de Ingeniería, montaje y consultoría en
las áreas eléctrica, instrumentación industrial, control y telecomunicaciones, la cual esta
comprometida con el mejoramiento continuo de sus procesos internos y externos, de acuerdo a
toda la normatividad legal colombiana existente, además por medio de nuestro sistema de
gestión integrado planeamos y desarrollamos nuestras actividades bajo metodologías eficientes
y seguras en un ambiente propicio para la salud, protección y el bienestar de nuestros
colaboradores, allegados y el medio ambiente. Generando valor a cada uno de nuestros
proyectos.
El mayor interés de ingeniería y proyectos Sigma S.A.S. es ofrecer un servicio integral, dinámico
y responsable el cual este orientado a la satisfacción de los objetivos de nuestros clientes y
aliados.   

                     </p>

                    <div class="divider pt-30 pb-40"></div>

                    <div class="row">
                      <div class="col-lg-12">
                              <h2 class="section-header big">NUESTROS SERVICIOS</h2>
                        </div>
                        <%  @services.each do |service|%>

                              <div class="col-lg-6 col-sm-6 col-xs-12" style = "margin-bottom: 35px;">
                            <h3 class="h4 text-uppercase mb-10 service"><a href="service-single.html"><%= service.name%> <br><br></a></h3>
                            <div class="post-thumbnail hover-link">
                                <%= (image_tag service.service_images.where(order: 1).first.imagen_url , class:"service-img" )%>
                                
                              <%=link_to servicio_path(service.id), class:"overlay ov",   data: { turbolinks: false } do %>
                               <i class="fa fa-link"></i></a>
                          <%end%>
                            </div><!--/ post-thumbnail -->
                            <div class="mb-30 service-desc">
                                <p><%== service.description%></p>
                            </div>
                            <%= link_to "Ver mas", servicio_path(service) ,class: "btn btn-primary radius mb-30",  data: { turbolinks: false } %>
                               
                        </div>


                        <%end%>

               
                    </div><!-- /row -->
                </div><!-- /col -->

              
            </div><!-- /row -->
        </div><!-- /container -->
    </section>
    <!-- END / ABOUT -->

    <!-- TESTIMONIAL - CLIENT -->
   
    <!-- END / TESTIMONIAL - CLIENT -->

    <!-- ICON BOX -->
    <%if @experiences.count != 0%>
        <section class="section pt-60 pb-60 bg-parallax1" data-background="../../images/construccion.jpg">
        <div class="bg-overlay-black bg-overlay-7"></div>
        <div class="container">
            <h2 class="section-header big" data-section-center="991">Nuestra Experiencia</h2>
            <ul class="portfolio-selector">
               <!-- <li><a href="#">Office</a></li>
                <li><a href="#">Building</a></li>
                <li><a href="#">Museum</a></li>
                <li><a href="#">Urban</a></li>
                <li><a href="#">House</a></li>
            </ul><!-- /portfolio-selector -->
        </div><!-- /container -->

        <div class="portfolio-slider">

            <% @experiences.each do |exp|%>    
            <div class="portfolio-item">
                <div class="portfolio-media hover-link">
                    <%=image_tag exp.experience_images.where(order: 1).first.image_url if exp.experience_images.where(order: 1).first.image_url %>
                    <%=link_to experiencia_path(exp.id), class:"overlay",   data: { turbolinks: false } do %>
                          <i class="fa fa-link"></i></a>
                          <%end%>
                    
                </div><!-- /hover-link -->
                <h5 class="text-uppercase text-center"><a href="work-single.html"><%=exp.name%></a></h5>
            </div><!-- /portfolio-item -->
<%end%>

        
        </div><!-- /portfolio-slider -->
    </section>
    <%end%>
    <section class="section bg-white pt-50 pb-0">
        <div class="container">
            <div class="row">
    <div class="col-md-12  col-sm-12 col-xs-12">
                    <div id="content" class="site-content">
                        <main id="main">
          

                          

                            <div class="row">

                            <h2 class="section-header big">Nuestros Valores</h2>
                                <div class="col-sm-6 col-xs-12">
                                    <div class="cortana-icon">
                                        <i class="fa fa-briefcase"></i>
                                        <h5 class="text-uppercase">Servicio</h5>
                                        <p style="text-align: justify">Todas nuestras acciones están dirigidas a un trabajo comprometido, cordial y eficiente, para brindar satisfacción a las necesidades de nuestro cliente en todo momento.</p>
                                    </div><!-- /cortana-icon -->

                                    <div class="cortana-icon">
                                        <i class="fa fa-rocket"></i>
                                        <h5 class="text-uppercase">Dinamismo</h5>
                                        <p style="text-align: justify">Ofreciendo servicios ágiles, flexibles, oportunos y sobretodo somos un equipo de trabajo con profesionales de mente abierta, innovador y con una visión compartida frente a los cambios.</p>
                                    </div><!-- /cortana-icon -->

                                    <div class="cortana-icon">
                                        <i class="fa fa-eye"></i>
                                        <h5 class="text-uppercase">Responsabilidad</h5>
                                        <p style="text-align: justify">Somos responsables frente a nuestras obligaciones, con la empresa, el cliente y la sociedad; Planeamos y controlamos el desarrollo de proyectos garantizando la entrega oportuna de manera integral cumpliendo con el alcance y los objetivos planteados, de igual forma con el medio ambiente y el entorno.</p>
                                    </div><!-- /cortana-icon -->

                                    
                                </div><!-- /col -->

                                <div class="col-sm-6 col-xs-12">
                                <div class="cortana-icon">
                                        <i class="fa fa-thumbs-o-up"></i>
                                        <h5 class="text-uppercase">Transparencia</h5>
                                        <p style="text-align: justify">Realizamos todos los procesos, operaciones y acuerdos internos y externos de la compañía con honestidad y rectitud, obrando de forma clara, evidente y no generando ambigüedad con nuestros colaboradores, clientes o proveedores.</p>
                                    </div><!-- /cortana-icon -->
                                    <div class="cortana-icon">
                                        <i class="fa fa-handshake-o"></i>
                                        <h5 class="text-uppercase">Confianza</h5>
                                        <p style="text-align: justify">Trabajamos para que nuestros equipo de colaboradores, clientes y proveedores se sientan seguros, con la certeza que nuestra empresa trabaja con la convicción de hacer mejor las cosas de forma integral, responsable y ofreciendo un precio justo y razonable.</p>
                                    </div><!-- /cortana-icon -->

                                    <div class="cortana-icon">
                                        <i class="fa fa-users"></i>
                                        <h5 class="text-uppercase">Trabajo en equipo</h5>
                                        <p style="text-align: justify">Impulsamos e incentivamos el trabajo cooperativo dentro de la organización, mejorando las sinergias de nuestros procesos internos y externos, obteniendo el máximo de las capacidades de nuestro talento humano y asegurando el aprendizaje organizacional de la compañía.</p>
                                    </div><!-- /cortana-icon -->

                 

                                </div><!-- /col -->
            </div><!-- /row -->
        </div><!-- /container -->
    </section>
    <!-- END / ICON BOX -->

    <!-- PORTFOLIO 1 -->
    
    <!-- END / PORTFOLIO 1 -->

    <!-- COUNTER 1 -->
    <section class="section bg-parallax1" style = "padding:40px 0px" data-background="../../img/bg/demo1.jpg">
        <div class="bg-overlay-black bg-overlay-7"></div>
        <div class="container">
            <div class="row">
             <h1 class="section-header" data-section-center="767">Datos de nuestros lideres</h1>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="counter">
                        <p class="count-number">60</p>
                        <h3>Proyectos Ejecutados</h3>
                    </div><!-- /counter -->
                </div><!-- /col -->
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="counter">
                        <p class="count-number">60</p>
                        <h3>Clientes Satisfechos</h3>
                    </div><!-- /counter -->
                </div><!-- /col -->
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="counter">
                        <p class="count-number">3468</p>
                        <h3>Horas en Proyectos</h3>
                    </div><!-- /counter -->
                </div><!-- /col -->

            </div><!-- /row -->
        </div><!-- /container -->
        <div class="stat-trigger"></div>
    </section>
    <!-- END / COUNTER 1 -->
    
    <!-- NEWS -->
   
    <!-- END / NEWS -->

    <!-- OUR LEADERS -->
    <section class="section bg-white pt-60 pb-60">
        <div class="container">
            <h2 class="section-header" data-section-center="767">Nuestro Equipo</h2>
            <div class="row">

                <%@team.each do |team|%>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="team-leader">
                        <div class="avatar hover-link">
                            <%= image_tag team.image_url , class: "width:300px;" if team.image_url%>
                          <%=link_to equipo_path(team.id), class:"overlay",   data: { turbolinks: false } do %>
                          <i class="fa fa-link"></i>
                          <%end%>
                     
                        </div><!-- /avatar -->
                        <h4 class="h5 text-uppercase"><%=team.name%></h4>
                        <h5><%=team.position%></h5>
                        <p class="mb-20" data-number-line="5"><%=team.description%></p>
                        <ul class="social-list black">
                         <li><a href="<%=team.linkedin%>" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="<%=team.twitter%>" target="_blank"><i class="fa fa-twitter"></i></a></li>
                           
                       
                            
                        </ul>
                    </div><!-- /team-leader -->
                </div><!-- /col -->

                <%end%>



            </div><!-- /row -->

        
        </div><!-- /container -->
    </section>
    <%if @noticias.count != 0%>
     <section class="section bg-gray bd-b pt-60 pb-20">
        <div class="container">
            <h2 class="section-header">Noticias</h2>
            <div class="row">
              <%@noticias.each do |noticia|%>
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <article class="post post-style-2">
                        <div class="post-thumbnail hover-link">
                            <%if noticia.image_url %>
                                    <%=image_tag noticia.image_url , style: "height: 215px;"%>
                                    <%else%>
                                     <img src="img/news/1.jpg" alt="" />
                                    <%end%> 
                             <%=link_to noticia_path(noticia.id), class:"overlay",   data: { turbolinks: false } do %>
                                     <i class="fa fa-link"></i></a>
                                    <%end%>
                        </div><!--/ post-thumbnail -->

                        <header class="entry-header">
                            <h2 class="entry-title h5" data-number-line="2"><a href="news-single.html">Finding new buildings in the dust</a></h2>
                        </header>

                       <div class="entry-content" >
                                <div style="overflow: hidden;height: 100px;max-height: 100px;">
                                     <%==noticia.description%>

                                 </div><%=link_to "Leer mas",  noticia_path(noticia.id), class: "more-link"%>
                                                                    
                                </div><!-- /entry-content -->

                        <footer class="entry-footer">
                            <span class="posted-on"><i class="fa fa-calendar"></i><a href="#"><%=get_date(noticia.created_at)%></a></span>
                            <span class="comments-link"><i class="fa fa-comments-o"></i><a href="#">No comment</a></span>
                        </footer>
                    </article><!-- /post -->
                </div><!-- /col -->
              <%end%>  
          
    </section>
<%end%>
    <%if @customers.count != 0%>
    <section class="section bg-white pt-60 pb-60">
        <div class="container">
            <h2 class="section-header">Nuestros Clientes</h2>
            <div class="client-slider">
            <%@customers.each do |cus|%>

                <div class="client-logo">
                   <%= image_tag cus.logo_url if cus.logo_url%>
                 
                </div><!-- /client-logo -->
                <%end%>
            </div><!-- /client-slider -->
        </div><!-- /container -->
    </section>
    <!-- END / OUR LEADERS -->
 <%end%>
    <!-- GET QUOTE -->
    <section class="section bg-primary pt-20 pb-20">
        <div class="container">
            <div class="row">
                <div class="col-md-9 col-sm-12 col-xs-12">
                    <h3 class="play-font fsi mb-0 text-center text-left-md" style="    font-weight: bold;line-height: 2.3em;color:white">Nosotros somos mas que constructores - nosotros somos partners</h3>
                </div><!-- /col -->

                <div class="col-md-3 col-sm-12 col-xs-12 text-center">
                    <div class="text-center text-right-md"> <%=link_to "Solicitar Cotización", contactenos_path, class: "btn btn-black"%></div>
                </div><!-- /col -->
            </div><!-- /row -->
        </div><!-- /container -->
    </section>
    <!-- END / GET QUOTE -->

    <!-- FOOTER -->
    <footer id="footer" class="footer bg-dark">
        <div class="foot-widget">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <aside class="widget widget_about">
                            <div class="logo">
                                <a href="index.html"><img src="../../img/logo1.png" alt="logo" /></a>
                            </div><!-- /#logo -->
                            <p>Ingeniería y Proyectos Sigma S.A.S. es una empresa de Ingeniería, montaje y consultoría en las áreas eléctrica, instrumentación industrial, control y telecomunicaciones.</p>
                            <ul class="social-list">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="icon icon-flickr"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </aside><!-- /widget_about -->
                    </div><!-- /col -->

                    <div class="col-md-3 col-md-push-6 col-sm-6 col-xs-12">
                        <aside class="widget widget_subscribe">
                             <div class="alert alert-success" style="margin-top:5px;display:none">
                Gracias por suscribirte.
            </div>     
                            <h3 class="widget-title h4">Suscribete a nuestro blog</h3>

                            <%=form_tag create_contacto_path, method: :post, remote: true do %>
                                 <%= text_field_tag :name, nil,placeholder: "Nombre", class: "black mb-30" %>
                                 <%= email_field_tag :email, nil, placeholder: "Email", class: "black mb-30" %>
                                 <%= text_field_tag :company, nil, placeholder: "Empresa", class: "black mb-30" %>
                                 <%= hidden_field_tag :subject, "suscripcion" %>
                                 <%= submit_tag "Suscribirme", class: "btn btn-primary"%>
                            <%end%>
                          
                    
                        </aside><!-- /widget_subscribe -->
                    </div><!-- /col -->

                    <div class="clearfix hidden-lg hidden-md hidden-xs"></div>

                    <div class="col-md-3 col-md-pull-3 col-sm-6 col-xs-12">
                        <aside class="widget widget_contact">
                            <h3 class="widget-title h4">Encuentranos en:</h3>
                            <ul>
                                <li><i class="fa fa-map-marker"></i>Dir. CR 33 # 28-10 INT 313</li>
                                <li><i class="icon icon-phone"></i>+574 2985861</li>
                                 <li><i class="fa fa-mobile"></i>+57 350 7070746</li>
                                <li><i class="fa fa-envelope-o"></i><a href="#">churtado@sigmaip.co</a></li>
                               
                                
                            </ul>
                        </aside><!-- /widget_contact -->
                    </div><!-- /col -->

                    <div class="col-md-3 col-md-pull-3 col-sm-6 col-xs-12">
                        <aside class="widget widget_infomation">
                            <h3 class="widget-title h4">Servicios</h3>
                            <ul class="list-style">
                                <li><a href="#">Ingeniera Electrica</a></li>
                                <li><a href="#">Instrumentación y Control</a></li>
                                <li><a href="#">Telecomunicaciónes</a></li>
                                <li><a href="#">Consultoria e Interventoria </a></li>
                                
                            </ul>
                        </aside><!-- /widget_infomation -->
                    </div><!-- /col -->
                </div><!-- /row -->
            </div><!-- /container -->
        </div><!-- /foot-widget -->

        <div class="foot-credit">
            <div class="container">
                <ul>
                    <li><%=link_to "Administrar", services_path,  data: { turbolinks: false }%></li>
                    <li><%= link_to "Trabaje con nosotros", trabajemos_path,  data: { turbolinks: false }%></li>
     
                  
                </ul>
                <p>© 2017 Sigmaip - Todos los derechos reservados</p>
            </div><!-- /container -->
        </div><!-- /foot-credit -->
    </footer>
    <!-- END / FOOTER -->
</div><!-- /page-wrap -->

<!-- JQUERY -->

