 <section id="sub-header" class="section bg-parallax1 pt-0 pb-0" data-background="../../img/bg/demo1.jpg" >
        <div class="bg-overlay-black bg-overlay-5"></div>
        <div class="container">
            <div class="sub-wrapper">
                <h1>Quiénes Somos</h1>
                

                <div class="breadcrumb-container clearfix">
                    <span>Estas aqui: </span>
                    <ul class="breadcrumb">
                      <li> <%= link_to "Inicio", inicio_path,  data: { turbolinks: false }%></li>
                      <li> <%= link_to "Nosotros", nosotros_path,  data: { turbolinks: false }%></li>
                    
                        
                    </ul>
                </div><!-- /breadcrumb -->
            </div><!-- /sub-wrapper -->
        </div><!-- /container -->
  </section>
    <!-- END / SUB HEADER -->

    <!-- CONTENT -->
    <section class="section bg-white pt-70 pb-60">
        <div class="container">
            <div class="row">
                <div class="col-md-3  col-sm-12 col-xs-12">
                    <div id="content" class="site-content">
                        <main id="main">
                           
                            <div class="work-slider mb-20">
                           <img src="../../img/team/equipo.jpg"  alt="">
                            </div><!-- /work-slider -->

                         
                               </main>
              </div><!-- /col -->
               </div><!-- /col -->
               <div class="col-md-9  col-sm-12 col-xs-12">
                            
                            <div class="page-grid">
                                <!-- GRID 9 COLUMNS -->
                                <div class="page-content col-12">
                                    <h2 class="section-header">Nuestra Empresa</h2>
                                   <p>Ingeniería y Proyectos Sigma S.A.S. es una empresa de Ingeniería, montaje y consultoría en las áreas eléctrica, instrumentación industrial, control y telecomunicaciones, la cual desarrolla sus trabajos bajo metodologías eficientes que generan valor en la planeación, ejecución, seguimiento y cierre de proyectos, con amplia experiencia en el sector industrial. El mayor interés de ingeniería y proyectos Sigma S.A.S. es ofrecer un servicio integral, dinámico y responsable el cual este orientado a la satisfacción de los objetivos de nuestros clientes y aliados. </p>
                                </div><!-- /page-content -->
                                 <div class="page-content col-12">
                                    <h2 class="section-header">Misión</h2>
                                   <p>Brindar servicios profesionales de ingeniería, montaje y auditoria, en el desarrollo de proyectos y mantenimientos en el área eléctrica, instrumentación industrial, control y telecomunicaciones, asegurando las mejores prácticas de calidad, salud y seguridad en el trabajo, a través de una cultura organizacional orientada al bienestar, autocuidado y respeto de nuestros colaboradores, clientes y accionistas, creando valor continuo en la sostenibilidad económica, social y medio ambiente. </p>
                                </div><!-- /page-content -->
                                 <div class="page-content col-12">
                                    <h2 class="section-header">Visión</h2>
                                   <p>Para el año 2022 ser una compañía con importante reconocimiento a nivel nacional en la ejecución de proyectos y mantenimientos en el área eléctrica, instrumentación industrial, control y telecomunicaciones, logrando la fidelización de nuestros clientes y proveedores mediante procesos dinámicos e innovadores.</p>
                                </div><!-- /page-content -->

            
                            </div><!-- /page-grid -->

                            
                </div><!-- /col -->

            
            </div><!-- /row -->
                       
                            <div class="row">
                <div class="col-md-12  col-sm-12 col-xs-12">
                    <div id="content" class="site-content">
                        <main id="main">
          

                            <div class="divider pt-20"></div>

                            <div class="row">

                            <h2 class="section-header">Nuestros Valores</h2>
                                <div class="col-sm-6 col-xs-12">
                                    <div class="cortana-icon">
                                        <i class="fa fa-briefcase"></i>
                                        <h5 class="text-uppercase">Servicio</h5>
                                        <p>Todas nuestras acciones están dirigidas a un trabajo comprometido, cordial y eficiente, para brindar satisfacción a las necesidades de nuestro cliente en todo momento.</p>
                                    </div><!-- /cortana-icon -->

                                    <div class="cortana-icon">
                                        <i class="fa fa-rocket"></i>
                                        <h5 class="text-uppercase">Dinamismo</h5>
                                        <p>Ofreciendo servicios ágiles, flexibles, oportunos y sobretodo somos un equipo de trabajo con profesionales de mente abierta, innovador y con una visión compartida frente a los cambios.</p>
                                    </div><!-- /cortana-icon -->

                                    <div class="cortana-icon">
                                        <i class="fa fa-eye"></i>
                                        <h5 class="text-uppercase">Responsabilidad</h5>
                                        <p>Somos responsables frente a nuestras obligaciones, con la empresa, el cliente y la sociedad; Planeamos y controlamos el desarrollo de proyectos garantizando la entrega oportuna de manera integral cumpliendo con el alcance y los objetivos planteados, de igual forma con el medio ambiente y el entorno.</p>
                                    </div><!-- /cortana-icon -->

                                    
                                </div><!-- /col -->

                                <div class="col-sm-6 col-xs-12">
                                <div class="cortana-icon">
                                        <i class="fa fa-thumbs-o-up"></i>
                                        <h5 class="text-uppercase">Transparencia</h5>
                                        <p>Realizamos todos los procesos, operaciones y acuerdos internos y externos de la compañía con honestidad y rectitud, obrando de forma clara, evidente y no generando ambigüedad con nuestros colaboradores, clientes o proveedores.</p>
                                    </div><!-- /cortana-icon -->
                                    <div class="cortana-icon">
                                        <i class="fa fa-handshake-o"></i>
                                        <h5 class="text-uppercase">Confianza:</h5>
                                        <p>Trabajamos para que nuestros equipo de colaboradores, clientes y proveedores se sientan seguros, con la certeza que nuestra empresa trabaja con la convicción de hacer mejor las cosas de forma integral, responsable y ofreciendo un precio justo y razonable.</p>
                                    </div><!-- /cortana-icon -->

                                    <div class="cortana-icon">
                                        <i class="fa fa-users"></i>
                                        <h5 class="text-uppercase">Trabajo en equipo:</h5>
                                        <p>Impulsamos e incentivamos el trabajo cooperativo dentro de la organización, mejorando las sinergias de nuestros procesos internos y externos, obteniendo el máximo de las capacidades de nuestro talento humano y asegurando el aprendizaje organizacional de la compañía.</p>
                                    </div><!-- /cortana-icon -->

                 

                                </div><!-- /col -->
                            </div><!-- /row -->
                        </main>
                    </div><!-- /site-content -->
                </div><!-- /col -->
                            </div><!-- /row -->
    <section class="section bg-white pt-60 pb-60">
        <div class="container">
            <h2 class="section-header" data-section-center="767">Nuestro Equipo</h2>
            <div class="row">

                <%@team.each do |team|%>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="team-leader">
                        <div class="avatar hover-link">
                            <%= image_tag team.image_url if team.image_url%>
                          
                            <a href="our-leaders.html" class="overlay"><i class="fa fa-link"></i></a>
                        </div><!-- /avatar -->
                        <h4 class="h5 text-uppercase"><%=team.name%></h4>
                        <h5><%=team.position%></h5>
                        <p class="mb-20" data-number-line="5"><%=team.description%></p>
                        <ul class="social-list black">
                         <li><a href="<%=team.linkedin%>" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="<%=team.twitter%>" target="_blank"><i class="fa fa-twitter"></i></a></li>
                           
                       
                            
                        </ul>
                    </div><!-- /team-leader -->
                </div><!-- /col -->

                <%end%>



            </div><!-- /row -->

        
        </div><!-- /container -->
    </section>
                        
                     
                    </div><!-- /site-content -->
                </div><!-- /col -->

            
            </div><!-- /row -->
        </div><!-- /container -->
    </section>