 <section id="sub-header" class="section bg-parallax1 pt-0 pb-0" style="background-image: url('../../img/bg/demo1.jpg');" >
        <div class="bg-overlay-black bg-overlay-5"></div>
        <div class="container">
            <div class="sub-wrapper">
                <h1>Blog</h1>
                

                <div class="breadcrumb-container clearfix">
                    <span>Estas aqui: </span>
                    <ul class="breadcrumb">
                      <li> <%= link_to "Inicio", inicio_path,  data: { turbolinks: false }%></li>
                      <li> <%= link_to "Blog", notices_path,  data: { turbolinks: false }%></li>
                       
                    </ul>
                </div><!-- /breadcrumb -->
            </div><!-- /sub-wrapper -->
        </div><!-- /container -->
  </section>


   <!-- CONTENT -->
    <section class="section bg-white pt-70 pb-60">
        <div class="container">
            <div class="row">
                <div class="col-md-9 col-sm-12 col-xs-12">
                    <div id="content" class="site-content">
                        <main id="main">

                        <%@noticias.each do |noticia|%>
                            <article class="post format-standard">
                                <div class="post-thumbnail">
                                    <%if noticia.image_url %>
                                    <%=image_tag noticia.image_url%>
                                    <%else%>
                                     <img src="img/news/1.jpg" alt="" />
                                    <%end%>  

                                   <%=link_to noticia_path(noticia.id), class:"overlay",   data: { turbolinks: false } do %>
                                     <i class="fa fa-link"></i></a>
                                    <%end%>
                                   
                                    
                                </div><!--/ post-thumbnail -->

                                <header class="entry-header">
                                    <h2 class="entry-title h4"><%=link_to "#{noticia.name}",noticia_path(noticia.id)%></h2>
                                    <span class="byline">Escrita por <%=link_to "#{noticia.user.names}", equipo_path(noticia.user.id)%> - <%=get_date(noticia.created_at)%> </span>
                                    
                                   
                                </header><!-- /header -->

                                <div class="entry-content" >
                                <div style="overflow: hidden;height: 100px;max-height: 100px;">
                                     <%==noticia.description%>

                                 </div><%=link_to "Leer mas",  noticia_path(noticia.id), class: "more-link"%>
                                                                    
                                </div><!-- /entry-content -->

                                <footer class="entry-footer">
                                    <span class="favourite">
                                    <span class="comments-link"><i class="fa fa-comments"></i> <a href="#"><%=noticia.comments.count%> Comentarios</a></span>

                                    
                                </footer><!-- /entry-footer -->
                            </article><!-- /post -->
                            <%end%>
                            
                            <!-- PAGENAVI -->
                            <nav class="pager">
                               <%= will_paginate @noticias%>
                            </nav>
                            <!-- END / PAGENAVI -->
                        </main>
                    </div><!-- /site-content -->
                </div><!-- /col -->

                <div class="col-md-3 col-sm-12 col-xs-12">
                    <div id="sidebar" class="sidebar">
                        <div id="widget-area">
                         
                            <aside class="widget widget_categories">
                                <h3 class="widget-title h5">Categorias</h3>
                                <ul>
                                    <% @categories.each do |cat| %>
                                    <li class="cat-item">
                                        <%=link_to "#{cat.name}", noticias_path("#{cat.name}")%>
                                        
                                    </li>
                                    <%end%>
                                   
                                </ul>
                            </aside><!-- /widget_categories -->

                            <aside class="widget widget_recent_entries">
                                <h3 class="widget-title h5">Entradas Recientes</h3>
                                <ul>
                                <% @noticias1.last(5).each do |noti| %>
                                    <li>
                                    <%= link_to  noticia_path(noti.id) do %>
                                        <%=image_tag noti.image_url if noti.image_url%>        
                                         <span class="title" data-number-line="2"><%=noti.name%></span>
                                         <span class="date"><%=get_date(noti.created_at)%></span>
                                    <%end%>

                                    </li>
                                   <%end%>
                                </ul>
                            </aside><!-- /widget_recent_entries -->

                       
                        </div><!-- /widget-area -->
                    </div><!-- /sidebar -->
                </div><!-- /col -->
            </div><!-- /row -->
        </div><!-- /container -->
    </section>
