<div class="row">
   <div class="col-md-12" style="padding-top: 10px;">
<%= form_with(model: customer, local: true) do |form| %>
  <% if customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% customer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

      <div class="row">
         <div class="col-md-6">
          <%= form.label "Nombre" %>
    <%= form.text_field :name, id: :customer_name , class: "form form-control"%>
  </div>
          
  </div>

    <div class="row">
         <div class="col-md-6">
    <%= form.label :logo %>
    <%= form.file_field :logo, id: :customer_logo  , class: "form form-control"%><br>
    <%= form.label "Estado" %>
    <%= form.check_box :state, id: :customer_state, class: "form form-control" %>
  </div>
          <div class="col-md-6">
      
  </div>
  </div>

<br>
 <%=form.hidden_field :user_id, :value => current_user.id %>
       <div class="row ">
      <div class="col-lg-12">
         <div class="actions">
            <%= form.submit "Guardar", class: "btn btn-primary btn-lg" %>
         </div>
      </div>
   </div>
<% end %>
</div>
</div>