<p id="notice"><%= notice %></p>

<div class="row">
<div class="col-md-8">
  <h1>Clientes</h1>
</div>
<div class="col-md-4 text-right">
  <%= link_to 'Nuevo Cliente', new_customer_path,:"data-turbolinks" => false, class: "btn btn-primary" %>

</div>
  
</div>


<table class="table">
  <thead>
    <tr>
      <th>Nombre</th>
  
      
      <th>Logo</th>
 
      <th width="20%" colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.name %></td>
      
        <td><%= image_tag customer.logo_url, style:"width:100px" if customer.logo_url %></td>
     
        <td><%= link_to 'Ver', customer %></td>
        <td><%= link_to 'Editar', edit_customer_path(customer) %></td>
        <td><%= link_to 'Eliminar', customer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

