<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @customer.name %>
</p>

<p>
  <strong>Sector:</strong>
  <%= @customer.sector %>
</p>

<p>
  <strong>Description:</strong>
  <%= @customer.description %>
</p>

<p>
  <strong>User:</strong>
  <%= @customer.user_id %>
</p>

<p>
  <strong>Logo:</strong>
  <%= @customer.logo %>
</p>

<p>
  <strong>State:</strong>
  <%= @customer.state %>
</p>

<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
