<p id="notice"><%= notice %></p>

<div class="row">
<div class="col-md-8">
  <h1>Experiencias</h1>
</div>
<div class="col-md-4 text-right">
  <%= link_to 'Nuevo Experiencia', new_experience_path,:"data-turbolinks" => false, class: "btn btn-primary" %>

</div>
  
</div>

<table class="table">
  <thead>
    <tr>
     <th>Nombre</th>
    <th>Cliente</th>
      <th>Fecha de Terminación</th>
      

      <th>Lugar</th>
      <th>Categoria</th>
   
      <th>Name</th>
      <th>Valor</th>
     
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @experiences.each do |experience| %>
      <tr>
       <td><%= experience.name %></td>
        <td><%= experience.customer.name %></td>

        <td><%= get_datew(experience.end_date) %></td>
        
      
        <td><%= experience.place %></td>
        <td><%= experience.service.name%></td>
      
       
        <td><%= number_to_currency(experience.value, locale: :en, precision: 0) %></td>

        <td><%= link_to 'Ver', experience %></td>
        <td><%= link_to 'Editar', edit_experience_path(experience) %></td>
        <td><%= link_to 'Eliminar', experience, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
