<p id="notice"><%= notice %></p>


<p>
  <strong>Nombre:</strong><br>
  <%= @experience.name %>
</p>


<p>
  <strong>Fecha de Terminación:</strong><br>
  <%= get_datew(@experience.end_date) %>
</p>

<p>
  <strong>Cliente:</strong><br>
  <%= @experience.customer.name %>
</p>

<p>
  <strong>Imagenes:</strong><br>
  <% @experience.experience_images.each do  |img|%>  
  <%=image_tag img.image_url, style:"width:200px;" if img.image_url%>
  <%end%>
</p>

<p>
  <strong>Lugar:</strong><br>
  <%= @experience.place %>
</p>

<p>
  <strong>Categoria:</strong><br>
  <%= @experience.service.name %>
</p>


<p>
  <strong>Valor:</strong><br>
  <%= @experience.value %>
</p>



<p>
  <strong>Descripcion:</strong><br>
  <%== @experience.description %>
</p>

<style>
strong
{
  color:#428bca;
  font-size: 22px;
}
  
</style>