<p><strong>Nombre:  </strong><%=@comment.name%></p>
<p><strong>Email: </strong><%=@comment.email%></p> 
<p><strong>Entrada: </strong> <%=@comment.notice.name%></p> 
<p><strong>Comentario: </strong> <%=@comment.message%></p>
 <a href="http://sigmaip.co/entrada/<%=@comment.notice.id%>">Ir a Entrada</a>