<p><strong>Nombre:  </strong><%=@job.name%></p>
<p><strong>Email: </strong><%=@job.email%></p> 
<p><strong>Telefono: </strong><%=@job.phone%></p> 
<p><strong>Nivel de estudio: </strong><%=@job.level%></p> 
<p><strong>Descripción: </strong> <%=@job.description%></p>
<br>
<a href="http://sigmaip.co/jobs">Ir a base de datos</a></p>   