<p><strong>Nombre:  </strong><%=@pqrs.name%></p>
<p><strong>Email: </strong><%=@pqrs.email%></p> 
<p><strong>Tipo: </strong><%=@pqrs.typep%></p> 
<p><strong>Empresa: </strong><%=@pqrs.company%></p> 
<p><strong>Mensaje: </strong> <%=@pqrs.message%></p> 