<!DOCTYPE html>
<html>
  <head>
    <title>Sigmaip</title>
    <%= csrf_meta_tags %>
   <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Rajdhani:700" rel="stylesheet">
    <meta name="turbolinks-cache-control" content="no-cache">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>


  </head>
<style>
	
	.application{
     background: linear-gradient( rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9) ), 
  url('/../../images/construccion.jpg')no-repeat center top;

    background-size: cover;
   
font-family: 'Rajdhani', sans-serif;



}
</style>
  <body class= "application">
<div class="container">
<%if user_signed_in? %>
<%= link_to "Servicios" ,services_path %>
<%= link_to "Team" ,teams_path %>
<%= link_to "Contactenos" ,contacts_path %>
<%= link_to "pqrs" ,claims_path %>
<%= link_to "Solicitudes de Trbajo" ,jobs_path %>
<%= link_to "Experiencia" , experiences_path %>
<%= link_to "Clientes" , customers_path %>
<%= link_to "Noticias" , notices_path %>

<%= link_to "Categorias Noticias" , new_categories_path %>
<%= link_to "Comentarios" , comments_path %>




<%end %>
    <%= yield %>
    </div>
  </body>
</html>
