<!DOCTYPE html>
<html>
  <head>
    <title>Sigmaip</title>
    <%= csrf_meta_tags %>
   <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
 <link href="https://fonts.googleapis.com/css?family=Rajdhani:700" rel="stylesheet">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="description" content="">
    <meta name="author" content="">
     <link href="https://fonts.googleapis.com/css?family=Rajdhani:700" rel="stylesheet">
    <!-- GOOGLE FONT -->
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Playfair+Display:400,700,400italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Raleway:100,300,400,500,600,700' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Days+One" rel="stylesheet">
    <!-- CSS LIBRARY -->
    <!-- Bootstrap -->
  
       <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
   <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">   
    <!-- Font Icon -->
    <link type="text/css" href="../../css/lib/font-awesome.min.css" rel="stylesheet">
   

    <!-- Revolution Slider -->
 

    <!-- Custom CSS -->
    <link type="text/css" href="../../css/style.css" rel="stylesheet">
  </head>
<style>
	

</style>
  <body>















<!--inicio-->

<!-- /END PRELOAD -->

<!-- HEADER 3 -->
<header class="header head3">
    <div class="searchbar">
        <div class="container">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-search"></i></span>
                <input type="text" name="search" value="" placeholder="Search" />
                <span class="input-group-btn"><button type="button" class="btn-close"></button></span>
            </div><!-- /input-group -->
        </div><!-- /container -->
    </div><!-- /searchbar -->

  

    <div class="main-header main-header-3">
        <div class="container">
            <!-- LOGO -->
            <div class="logo">
                <a href="/"><img class="img" src="../../img/logo.png" alt="logo" /></a>
            </div><!-- /#logo -->
            <!-- END / LOGO -->

            <!-- MOBILE MENU -->
            <div class="mobile-nav-menu" data-menu-number="3">
                <span class="icon">&nbsp;</span>
            </div><!-- /mobile-nav-menu -->
            <!-- /END MOBILE MENU -->

            <!-- SEARCH BUTTON -->
            <div class="search-btn"><span class="fa fa-search"></span></div>
            <!-- END / SEARCH BUTTON -->

            <!-- NAVIGATION -->
            <nav class="navigation nav3" data-menu-type="1199">
                  <ul class="nav text-uppercase" style="font-family: 'Rajdhani', sans-serif;">
             
                  
                    
                    <li><%=link_to "Gestion Doumental", file_systems_path,  data: { turbolinks: false }%></li>
                    <li><%=link_to "Configuracion", users_index_path("todas"),  data: { turbolinks: false } if current_user.rol.admin_doc%></li>
                    <li><%=link_to "Configurar Pagina", services_path,  data: { turbolinks: false } if current_user.rol.admin_page%></li>
                                        <li>
                     
                       
                    </li>

                </ul><!-- /nav -->
            </nav>
            <!-- END / NAVIGATION -->
        </div><!-- /container -->
    </div><!-- /main-header -->
</header><!-- /header -->
<!-- END / HEADER 3 -->

<div id="page-wrap" style="min-height: 450px;background: white;">
    <!-- SUB HEADER -->

    <!-- END / SUB HEADER -->

    <!-- CONTENT -->
    <%= yield %>
    <!-- END / CONTENT -->

    <!-- FOOTER -->
   </div><!-- /page-wrap -->

    <!-- END / FOOTER -->








<div class="container-fluid bg-black" style="position: fixed; height: 70px;bottom: 0px;width:100%;">
    
    <div class="col-md-12" >
        
   
    <div class="col-md-4" style="margin-top: 40px;">
        <p>© 2017 Sigmaip - Todos los derechos reservados</p>
    </div>
     <div class="col-md-2" style="margin-top: 20px;">
        <ul class="social-list">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                               
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
    </ul>
    </div>
   <div class="col-md-4" style="margin-top: 30px;">
       <%= link_to "Home", root_path, style: "font-weight:bold;margin-right:40px;" ,  data: { turbolinks: false }%>
       <%=link_to "Cerrar Sesion", services_path, style: "font-weight:bold" , data: { turbolinks: false } %>
    </div>
                               

    </div>
      </div>
</div>












    <!-- Image Loaded -->
    <script type="text/javascript" src="../../js/lib/imagesloaded.pkgd.min.js"></script>

    <!-- Isotope -->
    <script type="text/javascript" src="../../js/lib/isotope.pkgd.min.js"></script>

    
    <!-- Custom jQuery -->
    <script type="text/javascript" src="../../js/scripts.js"></script>

<style>
@media only screen and (max-width: 500px) {
    body {
        background-color: lightblue;
    }
}
    
</style>
<!-- Código de instalación CLIENGO para www.sigmaip.co --> 
<!-- BEGIN JIVOSITE CODE {literal} -->
<script type='text/javascript'>
(function(){ var widget_id = 'nAbIIyzgdt';var d=document;var w=window;function l(){
var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = '//code.jivosite.com/script/widget/'+widget_id; var ss = document.getElementsByTagName('script')[0]; ss.parentNode.insertBefore(s, ss);}if(d.readyState=='complete'){l();}else{if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})();</script>
<!-- {/literal} END JIVOSITE CODE -->
  </body>

</html>


