<!DOCTYPE html>
<html>
  <head>
    <title>Sigmaip</title>
    <%= csrf_meta_tags %>
   <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
 <link href="https://fonts.googleapis.com/css?family=Rajdhani:700" rel="stylesheet">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- GOOGLE FONT -->
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Playfair+Display:400,700,400italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Raleway:100,300,400,500,600,700' rel='stylesheet' type='text/css'>

    <!-- CSS LIBRARY -->
    <!-- Bootstrap -->
    <link type="text/css" href="../../css/lib/bootstrap.min.css" rel="stylesheet">
    <link type="text/css" href="../../css/lib/jquery.bootstrap-touchspin.min.css" rel="stylesheet">

    <!-- Font Icon -->
    <link type="text/css" href="../../css/lib/font-awesome.min.css" rel="stylesheet">
    <link type="text/css" href="../../css/lib/cortana.css" rel="stylesheet">

    <!-- Revolution Slider -->
    <link type="text/css" href="../../rs-plugin/css/settings.css" rel="stylesheet">
    <!-- Owl Carousel -->
    <link type="text/css" href="../../css/lib/owl.carousel.css" rel="stylesheet">

    <!-- Select into div -->
    <link type="text/css" href="../../css/lib/select2.min.css" rel="stylesheet">

    <!-- Magnific Popup -->
    <link type="text/css" href="../../css/lib/magnific-popup.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link type="text/css" href="../../css/style.css" rel="stylesheet">
  </head>
<style>
	

</style>
  <body>















<!--inicio-->


<div id="preload" class="preload">
    <div class="flat"></div>
    <div class="square"><img width="100px" src="../../images/simbolo.png" alt=""></div>
    <div class="square-2"><img src="../../images/simbolo.png" alt=""></div>
    <div class="square-3"><img src="../../images/simbolo.png" alt=""></div>
    <div class="square-4"><img src="../../images/simbolo.png" alt=""></div>
</div>
<!-- /END PRELOAD -->

<!-- HEADER 3 -->
<header class="header head3">
    <div class="searchbar">
        <div class="container">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-search"></i></span>
                <input type="text" name="search" value="" placeholder="Search" />
                <span class="input-group-btn"><button type="button" class="btn-close"></button></span>
            </div><!-- /input-group -->
        </div><!-- /container -->
    </div><!-- /searchbar -->

    <div class="top-header">
        <div class="container">
            <div class="top-left">
                <ul class="social-header">
                    <li><a href="https://www.facebook.com/search/top/?q=sigma%20ingenieria%20y%20proyectos" target="_blank" ><i class="fa fa-facebook"></i></a></li>
           
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                  
               
                </ul><!-- /social-header -->
            </div><!-- /top-left -->
            <div class="top-right">
                <ul class="info-header">
                    
                    <li><i class="icon icon-phone"></i>(547) 2985861</li>
                     <li><i class="fa fa-mobile"></i>+57 350 7070746</li>
                                <li><i class="fa fa-envelope-o"></i><a href="#">info@sigmaip.co</a></li>
                </ul><!-- /info-header -->
            </div><!-- /top-right -->
        </div><!-- /container -->
    </div><!-- /top-header -->

    <div class="main-header main-header-3">
        <div class="container">
            <!-- LOGO -->
            <div class="logo">
                <a href="home/inicio"><img class="img" src="../../img/logo.png" alt="logo" /></a>
            </div><!-- /#logo -->
            <!-- END / LOGO -->

            <!-- MOBILE MENU -->
            <div class="mobile-nav-menu" data-menu-number="3">
                <span class="icon">&nbsp;</span>
            </div><!-- /mobile-nav-menu -->
            <!-- /END MOBILE MENU -->

            <!-- SEARCH BUTTON -->
            <div class="search-btn"><span class="fa fa-search"></span></div>
            <!-- END / SEARCH BUTTON -->

            <!-- NAVIGATION -->
            <nav class="navigation nav3" data-menu-type="1199">
                  <ul class="nav text-uppercase">
                    <li>
                       <%= link_to "Inicio", root_path,  data: { turbolinks: false }%>
                    </li>
      
                    <li ><%= link_to "Quiénes Somos", nosotros_path,  data: { turbolinks: false }%>
                    </li>
                    <li><%= link_to "Servicios", servicios_path,  data: { turbolinks: false }%></li>
                   
                  
                    <li><%=link_to "Blog", noticias_path("todas"),  data: { turbolinks: false }%></li>
                    <li><%=link_to "Contactenos", contactenos_path,  data: { turbolinks: false }%></li>
                    <li><%=link_to "pqrs", pqrf_path,  data: { turbolinks: false }%></li>
                                        <li>
                        <%= link_to "Trabaja con nosotros", trabajemos_path,  data: { turbolinks: false }%>
                       
                    </li>

                </ul><!-- /nav -->
            </nav>
            <!-- END / NAVIGATION -->
        </div><!-- /container -->
    </div><!-- /main-header -->
</header><!-- /header -->
<!-- END / HEADER 3 -->

<div id="page-wrap">
    <!-- SUB HEADER -->

    <!-- END / SUB HEADER -->

    <!-- CONTENT -->
    <%= yield %>
    <!-- END / CONTENT -->

    <!-- FOOTER -->
    <section class="section bg-primary pt-20 pb-20">
        <div class="container">
            <div class="row">
                <div class="col-md-9 col-sm-12 col-xs-12">
                    <h3 class="play-font fsi mb-0 text-center text-left-md" style="line-height: 2.3em;color:white">Nosotros somos mas que constructores - nosotros somos partners</h3>
                </div><!-- /col -->

                <div class="col-md-3 col-sm-12 col-xs-12 text-center">
          
                    <%=link_to "Solicitar Cotización", contactenos_path, class: "btn btn-black"%>
                </div><!-- /col -->
            </div><!-- /row -->
        </div><!-- /container -->
    </section>
    <footer id="footer" class="footer bg-dark">
        <div class="foot-widget">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <aside class="widget widget_about">
                            <div class="logo">
                                <a href="index.html"><img src="../../img/logo1.png" alt="logo" /></a>
                            </div><!-- /#logo -->
                            <p>Ingeniería y Proyectos Sigma S.A.S. es una empresa de Ingeniería, montaje y consultoría en las áreas eléctrica, instrumentación industrial, control y telecomunicaciones.</p>
                            <ul class="social-list">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="icon icon-flickr"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </aside><!-- /widget_about -->
                    </div><!-- /col -->

                    <div class="col-md-3 col-md-push-6 col-sm-6 col-xs-12">
                        <aside class="widget widget_subscribe">
                             <div class="alert alert-success" style="margin-top:5px;display:none">
                Gracias por suscribirte.
            </div>     
                            <h3 class="widget-title h4">Suscribete a nuestro blog</h3>

                            <%=form_tag create_contacto_path, method: :post, remote: true do %>
                                 <%= text_field_tag :name, nil,placeholder: "Nombre", class: "black mb-30" %>
                                 <%= email_field_tag :email, nil, placeholder: "Email", class: "black mb-30" %>
                                 <%= text_field_tag :company, nil, placeholder: "Empresa", class: "black mb-30" %>
                                 <%= hidden_field_tag :subject, "suscripcion" %>
                                 <%= submit_tag "Enviar Mensaje", class: "btn btn-primary"%>
                            <%end%>
                          
                    
                        </aside><!-- /widget_subscribe -->
                    </div><!-- /col -->

                    <div class="clearfix hidden-lg hidden-md hidden-xs"></div>

                    <div class="col-md-3 col-md-pull-3 col-sm-6 col-xs-12">
                        <aside class="widget widget_contact">
                            <h3 class="widget-title h4">Encuentranos en:</h3>
                            <ul>
                                <li><i class="fa fa-map-marker"></i>Dir. CR 33 # 28-10 INT 313</li>
                                <li><i class="icon icon-phone"></i>+574 2985861</li>
                                 <li><i class="fa fa-mobile"></i>+57 350 7070746</li>
                                <li><i class="fa fa-envelope-o"></i><a href="#">info@sigmaip.co</a></li>
                               
                                
                            </ul>
                        </aside><!-- /widget_contact -->
                    </div><!-- /col -->

                    <div class="col-md-3 col-md-pull-3 col-sm-6 col-xs-12">
                        <aside class="widget widget_infomation">
                            <h3 class="widget-title h4">Servicios</h3>
                            <ul class="list-style">
                                <li><a href="#">Ingeniera Electrica</a></li>
                                <li><a href="#">Instrumentación y Control</a></li>
                                <li><a href="#">Telecomunicaciónes</a></li>
                                <li><a href="#">Consultoria e Interventoria </a></li>
                                
                            </ul>
                        </aside><!-- /widget_infomation -->
                    </div><!-- /col -->
                </div><!-- /row -->
            </div><!-- /container -->
        </div><!-- /foot-widget -->

        <div class="foot-credit">
            <div class="container">
                <ul>
                    <li><%=link_to "Administrar", services_path,  data: { turbolinks: false }%></li>
                    <li><%= link_to "Trabaje con nosotros", trabajemos_path,  data: { turbolinks: false }%></li>
     
                  
                </ul>
                <p>© 2017 Sigmaip - Todos los derechos reservados</p>
            </div><!-- /container -->
        </div><!-- /foot-credit -->
    </footer>
    <!-- END / FOOTER -->
</div><!-- /page-wrap -->





























    <script type="text/javascript" src="../../js/lib/jquery-1.11.3.min.js"></script>

    <!-- Bootstrap -->
    <script type="text/javascript" src="../../js/lib/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../js/lib/jquery.bootstrap-touchspin.min.js"></script>

    <!-- Revolution Slider -->
    <script type="text/javascript" src="../../rs-plugin/js/jquery.themepunch.tools.min.js"></script>
    <script type="text/javascript" src="../../rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
    <!-- Owl Carousel -->
    <script type="text/javascript" src="../../js/lib/owl.carousel.min.js"></script>
    <!-- Overflow Text -->
    <script type="text/javascript" src="../../js/lib/overflow-text.js"></script>

    <!-- Easing -->
    <script type="text/javascript" src="../../js/lib/jquery.easing.min.js"></script>

    <!-- Select to div -->
    <script type="text/javascript" src="../../js/lib/select2.min.js"></script>

    <!-- Parallax -->
    <script type="text/javascript" src="../../js/lib/jquery.parallax-1.1.3.js"></script>

    <!-- Waypoint -->
    <script type="text/javascript" src="../../js/lib/waypoints.min.js"></script>

    <!-- Count To -->
    <script type="text/javascript" src="../../js/lib/jquery.countTo.js"></script>

    <!-- Magnific Popup -->
    <script type="text/javascript" src="../../js/lib/jquery.magnific-popup.min.js"></script>

    <!-- Image Loaded -->
    <script type="text/javascript" src="../../js/lib/imagesloaded.pkgd.min.js"></script>

    <!-- Isotope -->
    <script type="text/javascript" src="../../js/lib/isotope.pkgd.min.js"></script>

    
    <!-- Custom jQuery -->
    <script type="text/javascript" src="../../js/scripts.js"></script>

<style>
@media only screen and (max-width: 500px) {
    body {
        background-color: lightblue;
    }
}
    
</style>
<!-- Código de instalación CLIENGO para www.sigmaip.co --> 
<!-- BEGIN JIVOSITE CODE {literal} -->
<script type='text/javascript'>
(function(){ var widget_id = 'nAbIIyzgdt';var d=document;var w=window;function l(){
var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = '//code.jivosite.com/script/widget/'+widget_id; var ss = document.getElementsByTagName('script')[0]; ss.parentNode.insertBefore(s, ss);}if(d.readyState=='complete'){l();}else{if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})();</script>
<!-- {/literal} END JIVOSITE CODE -->
  </body>

</html>


